.banner {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.2)), url(../../images/banner_2.jpeg);
  padding: 100px;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
}
